.admin-blogpage-wrapper {
  min-height: 100vh;
}

.admin-blogpage-table img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.admin-blogpage-table th,
.admin-blogpage-table td {
  vertical-align: middle;
  text-align: center;
}

.admin-blogpage-table .btn {
  font-size: 0.8rem;
  padding: 4px 10px;
}

/* .form-control,
.form-label {
  font-size: 14px;
} */

textarea.form-control {
  resize: none;
}
.admin-blogpage-title {
  font-size: 16px;
  font-weight: 600;
}
